<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>

            <!-- this is the Form we use to get inputs that users put in -->
            <!-- this Form is for individual components to be bundled together and be sent up to our controllers at the same time. All the info gets bundled and sent together, this is what this Form is for.  -->

            <!-- the action ("action=") that this form means is that whenever someone sends the Form (user clicks the submit button), that route "/post/createPost" is taken.  -->
            <!-- we DON'T use method override here, because a Form is SUPPOSED to be a POST request. As opposed to PUT requests. If we wanted to PUT (or update) someting, then we would use method override -->

            <!-- the FIRST place the data goes after user clicks the submit button is the server.js file. It is the ONLY (for right now) component that is "listening" for stuff to happen. So, in this case it would go to line 58 app.use("/post", postRoutes), and then it would follow that route, etc.  -->
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">

              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>

              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
            <!-- Form ends here  -->

          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>